<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <title>Sage MIS</title>
  <%= stylesheet_link_tag    "application","login", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <style id="holderjs-style" type="text/css"></style></head>
  <body class="login">
    <div class="container">
      
      <form class="form-signin" role="form" method="POST">
        <%= render "layouts/notifications" %>
        <h2 class="form-signin-heading">Sage MIS</h2>
        <%= text_field "user", "login", :size => 20,:class=>"form-control", :placeholder=>"Username", :required=>"",:autofocus=>""%>
        <!--<input id="login" type="text" class="form-control" placeholder="Username" required="" autofocus="">-->
        <!--<input id="password"type="password" class="form-control" placeholder="Password" required="">-->
        <%= password_field "user", "password", :size => 20,:class=>"form-control", :placeholder=>"Password", :required=>"" %>
        <!--<label class="checkbox">
          <input type="checkbox" value="remember-me"> Keep my session
        </label>-->
        <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
        <%= submit_tag "Login",:class=>"btn btn-lg btn-primary btn-block" %>
      </form>
    </div>
    <div id="footer" style="padding:10px 0; bottom:0px;">
       <div class="footer"><center><p class="text-muted">&copy;<%=DateTime.now.year.to_s%> SAGE Pharmacy &bull; Powered by e-consult-systems </p></center> </div>
</div>
</body></html>