<%= form_for(@item_attribute_detail) do |f| %>
  <% if @item_attribute_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_attribute_detail.errors.count, "error") %> prohibited this item_attribute_detail from being saved:</h2>

      <ul>
      <% @item_attribute_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.text_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :attribute_id %><br />
    <%= f.text_field :attribute_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
