<div class="panel panel-default">
 <div class="panel-heading">Product Search </div>
  <div class="panel-body">
<%= form_tag "/search/search", :method => 'post', :id => "items_search" do %>
  <p>
    <%#= text_field_tag :search, params[:search] %>
    <%= text_field_tag 'search','',:autocomplete => search_autocomplete_item_name_path%>
    <%= submit_tag "Search", :name => nil,:class=>"btn btn-default" %>
  </p>
<% end %>
<% if @items && @items.size > 0%>
  <div class="panel-body">
<table class="table table-striped">
  <thead>
    <tr>
    <th>Item code</th>
    <th>Item name</th>
    <th>Item attribute</th>
    <th>Size</th>
    <th>Batches</th>
    <th>Quantity</th>
    <th>Selling Price(KES)</th>
  </tr>
  </thead>
 <tbody>
<% @items.each do |item| %>
  <tr>
    <td><%= item.item_code %></td>
    <td><%= link_to item.item_name, item %></td>
    <td><%= item.item_attribute %></td>
    <td><%= item.size %></td>
    <% stock_level_detail = stock_display(item.id) %>
    <td><%= stock_level_detail[:counter] %></td>
    <td><%= stock_level_detail[:total_remaining] %></td>
    <td><%= item.adjusted_price.to_f %></td>
    <td><%= link_to 'DELETE', item, method: :delete, data: { confirm: 'Are you sure you want to delete this product?' } %></td>
  </tr>
<% end %>
 </tbody>
</table>
</div>
<%else%>
  <% if @msg%>
  <h5><%= @msg%></h5>
  <%else%>
  <h5>Products Matching your search query will appear here</h5>
<%end%>
<% end%>
  </div>
</div>
</div>
