<h1>Listing users</h1>

<table>
  <tr>
    <th>First name</th>
	<th></th>
    <th></th>
    <th></th>
	<th></th>
    <th></th>
    <th>Last name</th>
	<th></th>
    <th></th>
    <th></th>
	<th></th>
    <th></th>
    <th>User name</th>
	<th></th>
    <th></th>
    <th></th>
	<th></th>
    <th></th>
   
    <th>Email</th>
	<th></th>
    <th></th>
    <th></th>
	<th></th>
    <th></th>
    
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
	<td></td>
    <td></td>
    <td></td>
	<td>&nbsp</td>
	<td>&nbsp</td>
    <td><%= user.last_name %></td>
	<td></td>
    <td></td>
    <td></td>
	<td>&nbsp</td>
	<td>&nbsp</td>
    <td><%= user.user_name %></td>
	<td></td>
    <td></td>
    <td></td>
   <td>&nbsp</td>
   <td>&nbsp</td>
    <td><%= user.email %></td>
    <td></td>
    <td></td>
    <td></td>
	<td>&nbsp</td>
	<td>&nbsp</td>
    <td><%= user.is_locked %></td>
    <td><%= user.archived %></td>
    <td></td>
    <td></td>
	<td>&nbsp</td>
	<td>&nbsp</td>
	<td>&nbsp</td>
	<td>&nbsp</td>
	<td>&nbsp</td>
	<td>&nbsp</td>
    <td></td>
	<td><%= link_to 'Show', user, :class => 'btn btn-secondary' %></td>
    <td></td>
    <td></td>
    <td></td>
	<td>&nbsp</td>
	<td>&nbsp</td>
	<td>&nbsp</td>
	<td>&nbsp</td>
	<td>&nbsp</td>
	<td>&nbsp</td>
	<td><%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-secondary' %></td>
    <td></td>
    <td></td>
    <td></td>
	<td>&nbsp</td>
	<td>&nbsp</td>
	<td>&nbsp</td>
	<td>&nbsp</td>
	<td>&nbsp</td>
	<td>&nbsp</td>
	<td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-secondary' %></td>
	<td></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
</table>

<br />

<h4><%= link_to 'New User', new_user_path, :class => 'btn btn-primary'  %></h4>
