<%= form_for(@backuplog) do |f| %>
  <% if @backuplog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@backuplog.errors.count, "error") %> prohibited this backuplog from being saved:</h2>

      <ul>
      <% @backuplog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :backup_log_date %><br />
    <%= f.datetime_select :backup_log_date %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :days_pending %><br />
    <%= f.number_field :days_pending %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
