<p id="notice"><%= notice %></p>

<p>
  <b>Backup log date:</b>
  <%= @backuplog.backup_log_date %>
</p>

<p>
  <b>Start date:</b>
  <%= @backuplog.start_date %>
</p>

<p>
  <b>Status:</b>
  <%= @backuplog.status %>
</p>

<p>
  <b>Days pending:</b>
  <%= @backuplog.days_pending %>
</p>

<p>
  <b>User:</b>
  <%= @backuplog.user_id %>
</p>


<%= link_to 'Edit', edit_backuplog_path(@backuplog) %> |
<%= link_to 'Back', backuplogs_path %>
