<h2>Settings</h2>
<div>
<fieldset>
<div>
<%= link_to 'Tax Codes Settings', taxcodes_path,:class => 'btn btn-primary' %>
</div>
</fieldset>
  <div>
  <fieldset>
  <div>
  <%= link_to 'Backup Settings', backuplogs_path,:class => 'btn btn-primary' %>
  </div>
  </fieldset>
</div>
  <div>
    <fieldset>
        <div>
            <%= link_to 'User Settings', users_path,:class => 'btn btn-primary' %>
        </div>
    </fieldset>
  </div>
  <div>
    <fieldset>
        <div>
            <%= link_to 'Warehouse Settings', warehouses_path,:class => 'btn btn-primary' %>
        </div>
    </fieldset>
  </div>
  <div>
    <fieldset>
        <div>
            <%= link_to 'Price Settings', taxcodes_path,:class => 'btn btn-primary' %>
        </div>
    </fieldset>
  </div>
</div>
