<table>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
  </tr>
<tr><td><%= form_for(@sale_item) do |f| %>
  <% if @sale_item.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@sale_item.errors.count, "error") %> prohibited this sale_item from being saved:</h4>
      <ul>
      <% @sale_item.errors.full_messages.each do |msg| %>
        <li class="list-group-item list-group-item-danger"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</td>
      </tr>
<tr>
  <div class="field">
    <td><%= f.text_field :item_id%></td>
  </div>
  <div class="field">
    <td><%= f.text_field :quantity %></td>
  </div>
  <div class="actions">
    <td><%= f.submit "Post Item"%></td>
  </div>
<% end %>
</tr>
</table>
