<table>  
  <tr>  
    <th><%=  "name" %></th>  
    <th><%=  "name" %></th>  
    <th><%= "name"%></th>  
  </tr>  
  <% for item in @sale_items %>  
  <tr>  
    <td><%= item.item_name %></td>  
    <td><%= item.item_name %></td>  
    <td><%= item.item_name%></td>  
  </tr>  
  <% end %>  
</table>  