<table><tbody>
  <tr>
    <td>
    <%= form_for(@sale) do |f| %>
  <% if @saleserrors.length > 0 %>
    <div id="error_explanation">
      <h5><%= pluralize(@saleserrors.count, "error") %> prohibited this sale from being saved:</h5>

      <ul>
      <% @saleserrors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </tr><tr><td>
    <%= label_tag :discount_amount%></td>
    <td>
    <%= text_field_tag :discount,""%>
    </td>
    <td>
    <%= submit_tag "Confirm Sale",:class=>"btn btn-default" %>
  </td>
<% end %>
  </tr>
  </table>
