<h1>Listing taxcodes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Market name</th>
    <th>Percentage markup</th>
    <th>Other info</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @taxcodes.each do |taxcode| %>
  <tr>
    <td><%= taxcode.name %></td>
    <td><%= taxcode.description %></td>
    <td><%= taxcode.market_name %></td>
    <td><%= taxcode.percentage_markup %></td>
    <td><%= taxcode.other_info %></td>
    <td><%= link_to 'Show', taxcode %></td>
    <td><%= link_to 'Edit', edit_taxcode_path(taxcode) %></td>
    <td><%= link_to 'Destroy', taxcode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Taxcode', new_taxcode_path %>
