<table>
<tr><td><%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h4>

      <ul class="list-group">
      <% @item.errors.full_messages.each do |msg| %>
        <li class="list-group-item list-group-item-danger"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
        </td>
      </tr>
<tr>  <div class="field">
    <td><%= f.label :item_name  %><br /></td>
    <td><%= f.text_field :item_name , :size => 100 %></td>
  </div></tr>

  <tr><div class="field">
    <td><%= f.label :item_attribute %><br /></td>
    <td><%=select_tag "item_attribute", options_from_collection_for_select(Itemattribute.all, "name", "name"), prompt: "Select item attribute"%></td>
  </div></tr>
  <tr><div class="field">
    <td><%= f.label :size %><br /></td>
    <td><%= f.text_field :size %></td>
  </div></tr>
 <tr> <div class="field">
    <td><%= f.label :buying_price %><br /></td>
    <td><%= f.text_field :buying_price %></td>
  </div></tr>
    <tr><div class="field">
    <td><%= f.label :markup %><br /></td>
    <td><%= f.text_field :markup %></td>
  </div></tr>
    <tr> <div class="field">
    <td><%= f.label :final_selling_price %><br /></td>
    <td><%= f.text_field :adjusted_price %></td>
  </div></tr>
  <tr><div class="field">
    <td><%= f.label :source %><br /></td>
    <td><%= f.text_field :source %></td>
  </div></tr>
  <tr><div class="field">
    <td><%= f.label :tax_class %><br /></td>

    <td><%=select_tag "tax_class", options_from_collection_for_select(Taxcode.all, "id", "name"), prompt: "Select item tax class"%></td>
  </div></tr>
  <tr><div class="field">
    <td><%= f.label :warehouse %><br />

    <td><%=select_tag "warehouse", options_from_collection_for_select(Warehouse.all, "id", "name"), prompt: "Select warehouse"%></td>
  </div></tr>
 <tr> <div class="actions">
    <td><%= f.submit "Add Product", :class=>"btn btn-default"%></td>
    <td><%= hidden_field_tag 'item_code', '' %><br />
        <%= hidden_field_tag 'calculated_selling', 0 %><br />
        <%= hidden_field_tag 'custom_size', 0 %><br />
        <%= hidden_field_tag 'custom_attribute', 0 %><br />
        <%=f.hidden_field :creator, :value=>@current_user.id.to_i %>
    </td>
  </div>
<% end %></tr>
       </table>