<h3>Products</h3>
<div>
<%= link_to 'New Item', new_item_path,:class => 'btn btn-lg btn-primary' %>
<%= link_to 'Import Existing', new_item_path(:type=>'1'),:class => 'btn btn-lg btn-primary' %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
    <th>Item code</th>
    <th>Item name</th>
    <th>Item attribute</th>
    <th>Size</th>
    <th>Batches</th>
    <th>Quantity</th>
    <th>Selling Price(KES)</th>
  </tr>
  </thead>
 <tbody>
<% @items.each do |item| %>
  <tr>
    <td><%= item.item_code %></td>
    <td><%= link_to item.item_name, item %></td>
    <td><%= item.item_attribute %></td>
    <td><%= item.size %></td>
    <% stock_level_detail = stock_display(item.id) %>
    <td><%= stock_level_detail[:counter] %></td>
    <td><%= stock_level_detail[:total_remaining] %></td>
    <td><%= item.adjusted_price.to_f %></td>
    <td><%= link_to 'DELETE', item, method: :delete, data: { confirm: 'Are you sure you want to delete this product?' } %></td>
  </tr>
<% end %>
 </tbody>
</table>
<%= will_paginate @items, renderer: BootstrapPagination::Rails %>
<div>
<%= link_to 'New Item', new_item_path,:class => 'btn btn-primary' %>
<%= link_to 'Import Existing', new_item_path(:type=>'1'),:class => 'btn btn-primary' %>
</div>