<div class="panel panel-default">
 <div class="panel-heading">Viewing <%= @item.item_name %></div>
  <div class="panel-body">
<%=render "layouts/additional_links" %>
<div class="panel panel-default">
  <% stock_level_detail = stock_display(@item.id) %>
  <% @stock_level = stock_level_detail[:r_percent] %>
  <p>Current stock level: </p>
<div class="progress progress-striped">
         <div class="progress-bar <%=display_product_level_color(@stock_level.to_i)%>" role="progressbar" aria-valuenow="<%=@stock_level.to_i%>" aria-valuemin="0" aria-valuemax="<%=100.to_i%>" style="width:<%= @stock_level %>%">
</div>
</div>
<span class="text-muted">Number of Batches: <%= stock_level_detail[:counter] %></span>|<span class="text-muted">Total Remaining: <%= stock_level_detail[:total_remaining] %></span>|<span class="text-muted">Total Number of Items: <%= stock_level_detail[:total] %></span></br>
</div>
<div class="panel panel-default">
<p>
  <b>Item code:</b>
  <%= @item.item_code %>
</p>

<p>
  <b>Item name:</b>
  <%= @item.item_name %>
</p>
<p>
  <b>Item Description:</b>
  <%= @item.item_description.to_s %>
</p>

<p>
  <b>Item attribute:</b>
  <%= @item.item_attribute %>
</p>

<p>
  <b>Size:</b>
  <%= @item.size %>
</p>

<p>
  <b>Buying price:</b>
  <%= Settings.currency.to_s+" "+@item.buying_price.to_s %>
</p>
<p>
  <b>Selling price:</b>
  <%= Settings.currency.to_s+" "+@item.adjusted_price.to_s %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @item.source.to_s =="" ? @item.manufacturer : @item.source%>
</p>

<p>
  <b>Tax class:</b>
  <%= Taxcode.find_by_id(@item.tax_class).description %>
</p>

<p>
  <b>Warehouse:</b>
  <%= Warehouse.find_by_id(@item.warehouse).name %>
</p>

<p>
  <b>Markup:</b>
  <%= Settings.currency.to_s+" "+@item.markup.to_s + "".to_s%>
</p>

<p>
  <b>Calculated selling:</b>
  <%= Settings.currency.to_s+" "+@item.calculated_selling.to_s %>
</p>
</div>
  </div>
</div>