<div class="panel panel-default">
  <div class="panel-heading">Showing batch for product <%=Item.find(@current_item).item_name%></div>
  <div class="panel-body">

<%=render "layouts/additional_links" %>
<p>
  <b>Name:</b>
  <%= @batch.name %>
</p>
<p>
  <b>Expiry Date:</b>
  <%= presentable_date(@batch.expiry_date) %>
</p>

<p>
  <b>No of items:</b>
  <%= @batch.no_of_items %>
</p>
</div>
</div>