<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <title>Sage MIS</title>
  <%= stylesheet_link_tag    "application","dashboard",'jquery-ui' ,:media => "all" %>
  <%= javascript_include_tag "application","jquery","jquery-ui" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <style id="holderjs-style" type="text/css"></style></head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><strong>Sage MIS</strong></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Dashboard",:controller=>"dashboard" %></li>
            <li><%= link_to "Settings",:controller=>"settings" %></li>
            <li><%= link_to "Help",:controller=>"help" %></li>
            <li><%= link_to "logout "+@current_user.user_name,:controller=>"sessions",:action=>"logout" %></li>
          </ul>

        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
			<li class="disabled"><a href=""><Strong>Nav Links</Strong></a></li>
            <li class="<%= "active" if controller.controller_name.to_s.eql?"dashboard"%>" ><%= link_to "Overview",:controller=>"dashboard" %></li>
            <li class="<%= "active" if controller.controller_name.to_s.eql?"items"%>" ><%= link_to "Inventory",:controller=>"items" %></li>
            <li class="<%= "active" if controller.controller_name.to_s.eql?"sales"%>" ><%= link_to "Sales",:controller=>"sales" %></li>
            
          </ul>
          <ul class="nav nav-sidebar">
            <li class="disabled"><a href=""><Strong>Quick Actions</Strong></a></li>
            <li class="<%= "active" if controller.controller_name.to_s.eql?"items" and controller.action_name.to_s.eql?"new"  %>" ><%= link_to "Add New Product",:controller=>"items",:action=>"new" %></li>
            <li class="<%= "active" if controller.controller_name.to_s.eql?"sales"and controller.action_name.to_s.eql?"new"%>"  ><%= link_to "Make New Sale",:controller=>"sale_items",:action=>"new" %></li>
           
          </ul>
          <ul class="nav nav-sidebar">
            <li class="disabled"><a href=""><Strong>Search & Reports</Strong></a></li>
            <li class="<%= "active" if controller.controller_name.to_s.eql?"items" and controller.action_name.to_s.eql?"search"  %>" ><%= link_to "Quick Search",:controller=>"search",:action=>"search" %></li>
            <li class="<%= "active" if controller.controller_name.to_s.eql?"reports" and controller.action_name.to_s.eql?"daily_sales"  %>" ><%= link_to "Sales Reports",:controller=>"reports",:action=>"daily_sales" %></li>
          </ul>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<div class="container">
			<!--<ol class="breadcrumb">
			<li><a href="#"><%=controller.controller_name.to_s%></a></li>
			<li><a href="#"><%=controller.action_name.to_s%></a></li>
			<li class="active">Data</li>
			</ol>-->
			<%= render "layouts/notifications" %>
			<%= yield %>
		</div>
	</div>
</body>
<div id="footer" style="padding:10px 0; bottom:0px;">
       <div class="footer"><center><p class="text-muted">&copy;<%=DateTime.now.year.to_s%> SAGE Pharmacy &bull; Created by e-consult-systems </p></center> </div>
</div>
</body>
</html>

